body {
  box-sizing: border-box;
  padding: 5px;
  background: #253746;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1, p {
  margin: 0;
}

